#title{
    color: aliceblue;
    background-color: #f50c46;
    padding-bottom: 80px;
    

    
}
.navbar-brand1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 40px;
    padding-right: 30px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    
    padding-top: 0px;
    margin-left: 85px;
    text-decoration: none;
}
.img{
    width: 600px;
    height: 400px;
    

}
.container-fluid{

    margin-top: 20px;
    color: white;
}
.container{

    margin-top: 100px;
}
.btn{
    margin-top: 20px;
    margin-left: 20px;
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
.nav-item{
    padding: 0px;
    margin: 0px 40px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    
    
    
}
.nav-link{
    color: white;
}
#features{
    padding: 7% 15%;
    font-weight: bold;
    position: relative ;
    z-index: 1;
    background-color: aliceblue;
    
}
.feature-box{
    text-align: center;
    padding: 5%;
    color: darkslategrey;
}
.head{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1000;
    color:black;
}
.icon{
    color: #f50c46;
    margin-bottom: 20px;
}
.icon:hover{
    color: #e782a4;
}
#testimonials{
        
        text-align: center;
        background-color: #d41a49;
        color: aliceblue;

}
.hi{
    font-weight: bolder;
    line-height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 600px;
    text-align: center;
    margin-left: 200px;
}
.dig{
    clip-path: circle();
    margin-top: 30px;
    margin-left: 30px;
    width: 250px
    ;
}
#press{
    background-color: #d41a49;
    text-align: center;
    padding-bottom: 5%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;

}


#pricing{

    padding: 100px;
    text-align: center;
    }

.pricing-column{
        padding: 50px 50px;
       ;
    }
    
.head1{
    color: rgb(19, 18, 18);
    font-weight: bolder;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title-image{
    width: 300px;
    height: 550px;
    transform: rotate(28deg);
    margin-left: 90px;
    position: absolute;
    margin-bottom: 20px;
    top: 80px
    ;
    right: 300px;
    
}
.nhi{
    font-size: 70px;
    font-weight: bolder;
    padding-left: 30px;
}

@media (max-width:1028px)

{
    
    
    #title{

        text-align: center;
        background-color: rgb(240, 125, 49);
        
}


.title-image{


    
    position: static;
    transform: rotate(0deg);
    margin-top: 50px;

}

}
#cta{
    background-color: #f50c46;
    color: aliceblue;
    padding: 50px 50px 60px 50px;
    text-align: center;
}
.cta-head{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    line-height: 90px;
    width: 700px;
    margin-left: 350px;
    font-weight: bolder;
}
#footer{
    text-align: center;
    padding: 80px;
}
.footer-icon{
     margin: 20px 10px;
}
.pricing-head{
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}